:root {
    --main-color: #212121;
    --second-color: #757575;
    --background-color: #FFFFFF;
    --accent-color: #2196F3;
    --second-font: 'Raleway', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: #FFFFFF;
}
.logo {
        font-family: var(--second-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;        
        letter-spacing: 0.03em;
        color: #000000;
        text-decoration: none;
}
.accent {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.list {
    list-style: none;
}
.header-nav-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--main-color);
        text-decoration: none;
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--accent-color);
}
.header-auth-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--second-color);
        text-decoration: none;
}
.header-auth-link:hover,
.header-auth-link:focus {
    color: var(--accent-color);
}
/* section main */
/* hero */

.hero {
    background-color: #2F303A;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
}
/* section aside */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.subtitle-aside {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}
.text-aside {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--second-color);
}
/* section job */
.title-job {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
/* section-team */
.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.subtitle-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.text-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
}
/* footer */
.page-footer {
    background-color: #2F303A;
}
.google-page {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    
}
.google-page:hover,
.google-page:focus {
    color: var(--accent-color);
}
.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}
/* PAGE PORTFOLIO */

.portfolio-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    cursor: pointer;
    background-color: #F5F4FA;
}
.portfolio-nav-link:hover,
.portfolio-nav-link:focus {
    color: #FFFFFF;
}
.portfolio-nav-link:hover,
.portfolio-nav-link:focus {
    background-color: var(--accent-color);
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
    cursor: pointer;
    text-decoration: none;
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-color);
    cursor: pointer;
    text-decoration: none;
}
.portfolio-link {
    text-decoration: none;
}


/*  колір основного тексту #212121 

/*  вторинний колір тексту #757575

/* білий колір #FFFFFF

/* акцент #2196F3

/* вторинний колір фону #2F303A */
